[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
bs4 = "*"
certifi = "*"
charset-normalizer = "*"
distlib = "*"
filelock = "*"
google-cloud = "*"
google-cloud-storage = "*"
idna = "*"
importlib-metadata = "*"
pillow = "*"
pipenv = "*"
platformdirs = "*"
python-docx = "*"
requests = "*"
soupsieve = "*"
typing-extensions = "*"
urllib3 = "*"
virtualenv = "*"
zipp = "*"
pypdf2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
